body {
    margin: 0;
    padding: 0;
    background-image: url('Stock/Background2.jpg');
    background-size: cover;
    font-family: sans-serif;
}
.feedbackbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}
.user {
    width: 75px;
    height: 75px;
    overflow: hidden;
    top: 0;
    left: 0px;
    position: absolute;
}

.lblgucera1, .lblgucera2, .lblgucera3 {
    width: 75px;
    height: 32px;
    overflow: hidden;
    left: 75px;
    position: relative;
    font-size: 75px;
    font-family: Bahnschrift;
    font-weight: bold;
    font-kerning: auto;
    font-display: auto;
    font-style: italic;
}
.user {
    width: 75px;
    height: 75px;
    overflow: hidden;
    top: 0;
    left: 0px;
    position: absolute;
}

.lblgucera1, .lblgucera2, .lblgucera3 {
    width: 75px;
    height: 32px;
    overflow: hidden;
    left: 75px;
    position: relative;
    font-size: 75px;
    font-family: Bahnschrift;
    font-weight: bold;
    font-kerning: auto;
    font-display: auto;
    font-style: italic;
}

.lblcid, .lblfeedback, .lblmsg {
    font-weight: bold;
    color: #fff;
}
.txtcid, .txtfeedback, .btnsubmit {
    width: 100%;
    margin-bottom: 20px;
}
.txtcid, .txtfeedback {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

::placeholder {
    color: rgba(255,255,255,.5)
}

.btnsubmit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: rgb(235, 140, 8);
    background-color: #fff;
    font-family: Bahnschrift;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3 ease-in-out;
    font-weight: 700;
}

    .btnsubmit:hover {
        background-color: rgb(255, 216, 0);
    }

.txtcid, .txtinsid {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

::placeholder {
    color: rgba(255,255,255,.5)
}

.btnsubmit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: rgb(235, 140, 8);
    background-color: #fff;
    font-family: Bahnschrift;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3 ease-in-out;
    font-weight: 700;
}

    .btnsubmit:hover {
        background-color: rgb(255, 216, 0);
    }

.feedback {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-75px/2);
    left: 120px;
    position: absolute;
}

.btnback {
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: rgb(235, 140, 8);
    background-color: #fff;
    font-family: Bahnschrift;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3 ease-in-out;
    font-weight: 700;
    width: 75%;
    top: 20%;
    left: 12.5%;
    position: relative;
}

    .btnback:hover {
        background-color: rgb(255, 216, 0);
    }

.lblmsg {
    left: 100px;
}



