body {
	margin: 0;
	padding: 0;
	background-image: url('Stock/Background2.jpg');
	background-size: cover;
	font-family: sans-serif;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 750px;
	height: 450px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
}

.user {
	width: 100px;
	height: 100px;
	overflow: hidden;
	top: calc(-75px/2);
	left: 120px;
	position: absolute;
}

.lblgucera1, .lblgucera2, .lblgucera3 {
	width: 100px;
	height: 32px;
	overflow: hidden;
	top: calc(-230px/2);
	left: 180px;
	position: relative;
	font-size: 100px;
	font-family: Bahnschrift;
	font-weight: bold;
	font-kerning: auto;
	font-display: auto;
	font-style: italic;
}
.lblgucera1 {
	color: #000000;
}

.lblgucera2 {
	color: #ed1c24;
}

.lblgucera3 {
	color: #ffcb08;
}

.lblwelcome {
	width: 247px;
	height: 40px;
	overflow: hidden;
	top: 15%;
	left: 35%;
	font-size: 30px;
	position: absolute;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-kerning: auto;
	font-display: auto;
	color: white;
}

.button {
	width: 600px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	color: #ed1c24;
	background-color: #fff;
	font-family: Bahnschrift;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.3 ease-in-out;
	font-weight: 700;
	position: relative;
	top: -75px;
	left: 5%;

}

.button2 {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 150px;
	margin-bottom: 20px;
	outline: none;
	height: 40px;
	font-size: 16px;
	color: #ed1c24;
	background-color: #fff;
	font-family: Bahnschrift;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.3 ease-in-out;
	font-weight: 1000;
	position: relative;
	top: -75px;
	left: 1%;
}

	.button:hover, .button2:hover {
		background-color: #ffcb08;
	}

.button3 {
	border-style: none;
	border-color: inherit;
	border-width: medium;
	width: 150px;
	margin-bottom: 20px;
	outline: none;
	height: 40px;
	font-size: 16px;
	color: #ed1c24;
	background-color: #fff;
	font-family: Bahnschrift;
	font-weight: bold;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.3 ease-in-out;
	font-weight: 1000;
	position: relative;
	top: -75px;
	left: 38%;
}
.button3:hover {
	background-color:rgb(255, 0, 0);
	color:white;
}


